# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
# /build -- normally we would exclude this, but there's a version conflict between the CreateReactApp BuildPack and the current version of CreateReactApp. So... we'll serve the build folder, rather than redeploy on the server.

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

