#AppWrapper {
  background-color: $color-primaryBlue;
  width: 100vw;
  height: 100vh;
  margin-top: 64px;
  overflow-x: hidden;
  overflow-y: scroll;

  .nav-bar {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 64px;
    background-color: $color-primaryBlueDarker;
    border-bottom: 2px solid $color-white;

    display: flex;
    align-items: center;
    flex-direction: column;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  }
}
